body{
    
    margin: 0;
    padding: 0;
    background-color: rgb(190, 190, 241);
    background-image: url(images/bg.png) no-repeat;
    
    background-size:contain;
  }
  
  .box{
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 3%;

    color: white;
    font-family: 'Century Gothic',sans-serif;
  }
  
  

  .box-img{
    border-radius: 50%;
    width: 180px;
    height: 200px;
  }
  .box h1{
    font-size: 30px;
    letter-spacing: 3px;
    font-weight: 100;
  }
  .box h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
  }
  .box p{
    text-align: justify;
  }
  ul{
    margin: 0;
    padding: 0;
  }
  .box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
  }
  .box li a{
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
  }
  .box li a:hover{
   text-decoration: aliceblue;
  }
  
  .getstarted{
    text-decoration: aliceblue;
    font-family: 'sans-serif';
    text-align: center;
    border: 1px solid #f3f7aa;
    background: none;
    padding: 10px 30px;
    font-size: 20px;
    font-family: "mostserrat";
    cursor: pointer;
    color:beige;
    transition: 0.8;
    position: relative;
    overflow: visible;
  }
  .getstarted::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    background: #000000;
    z-index: -1;
    transition: 0.8;
  }
  .getstarted:hover{
    color:rgb(255, 255, 255)
  }
  .getstarted::before{
    top: 0;
    border-radius: 50% 50% 0 0;
  }
  .getstarted:hover::before{
    height: 100%;
  }

  